@model Course
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Id</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.CourseName</h6>

        <a class="btn btn-primary" href="/Course/GetAll">Back To List</a>
       
    </div>
</div>