@model Course
<form action="/Course/SaveEditFormData">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Id</label>
            <input type="number" class="form-control" name="Id" id="Dnumber" placeholder="Id" value="@Model.Id">
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail4">Course Name</label>
            <input type="text" class="form-control" name="CourseName" id="CourseName" placeholder="CourseName" value="@Model.CourseName">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>